<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" lang="vi">
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>DeskApp - Bootstrap Admin Dashboard HTML Template</title>

    <!-- Site favicon -->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/vendor/images/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/vendor/images/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/vendor/images/favicon-16x16.png}">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/styles/core.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/styles/icon-font.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/styles/style.css}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-119386393-1');
    </script>
</head>

<body class="login-page">
<div class="login-header box-shadow">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <div class="brand-logo">
            <a href="/login">
                <img th:src="@{/vendor/images/deskapp-logo.svg}" alt="">
            </a>
        </div>
        <div class="login-menu">
            <ul>
                <li>Xin chào <span sec:authentication="name"></span></li>
            </ul>
        </div>
    </div>
</div>
<div class="login-wrap d-flex align-items-center flex-wrap justify-content-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-7">
                <img th:src="@{/vendor/images/register-page-img.png}" alt="">
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="login-box bg-white box-shadow border-radius-10">
                    <div class="login-title">
                        <h2 class="text-center text-primary">Cập nhật thông tin</h2>
                    </div>
                    <div>
                        <p class="error-msg" th:text="${msgError}" style="color: red; text-align: center"></p>
                    </div>
                    <form th:action="@{/fill_info/save}" th:object="${user}" method="post"  action="#" >
                        <section>
                            <div class="form-wrap max-width-600 mx-auto">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Họ*</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" th:field="*{firstName}" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Tên đệm</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" th:field="*{middleName}" >
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Tên*</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" th:field="*{lastName}" required >
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Số điện thoại*</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" th:field="*{phoneNumber}" required >

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Địa chỉ*</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" th:field="*{address}" required >
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Giới tính*</label>
                                    <div class="col-sm-8">
                                        <select th:field="*{gender}" >
                                            <option  value="Nam">Nam</option>
                                            <option  value="Nũ">Nữ</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group mb-0">
                                    <!--
                                        use code for form submit
                                        <input class="btn btn-primary btn-lg btn-block" type="submit" value="Sign In">
                                    -->
                                    <button type="submit" class="btn btn-primary btn-lg btn-block" >Cập nhật</button>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- js -->
<script th:src="@{/vendor/scripts/core.js}"></script>
<script th:src="@{/vendor/scripts/script.min.js}"></script>
<script th:src="@{/vendor/scripts/process.js}"></script>
<script th:src="@{/vendor/scripts/layout-settings.js}"></script>
</body>
</html>